#!/usr/bin/env xdg-open
[Desktop Entry]
Name=BetterGallery
Comment=BetterGallery
Exec=/run/media/mmcblk0p1/QtApps/run_better_gallery.sh
Icon=/run/media/mmcblk0p1/QtApps/qtapplogo.png
Type=Application
